@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --background: #F6F6E9;
    --text: #13334C;
    --accent-color: #FD5F00;
    --icon-buttons-color: #005792;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0%;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px 0px 20px; 

}
.logo-image {
 width: 38%;

}

.container-input {
    display: flex;
    align-items: center;
    position: relative;
}

.search {
    border: 1px solid var(--icon-buttons-color);
    border-radius: 5px 0px 0px 5px;
    width: 150px;
    height: 36px;
    background-image: url("./assets/Search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}

.search:focus{
    background-image: none;
}

.icono-lupa{
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: var(--icon-buttons-color);
}
.button {
    width: 69px;
    height: 40px;
    background-color: var(--icon-buttons-color);
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;

}
.container-footer{
    display: flex;
    justify-content: space-between;
    width: 105%;

}

.box {
    color: var(--background);
    font-weight: 500;
    background-color: var(--text); 
}
.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
  
}
.flex {
    display: flex;
    list-style-type: none;
}

.margin-li{
    margin-right: 1em;
}
.logo-icons{
    height: 1.2em;
    width: 1.2em;
    margin-right: 0em;
}

a {
    text-decoration: none;
}
.card-container {
   width: 47%;
   margin-top: 30px;

}

.card-title {
 display: inline-block;  
 font-size: 18px;
 font-weight: 600;
 color: var(--text);

    
}

.card-image {
    width: 100%;

}

.card-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: var(--text);
    margin-top: 0px;
}

.data-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: space-between;

}

.book-detail-container {
    padding: 5em 5em 5em 2em;
}

.book-title {
    margin-top: 0px;
    font-size: 18px
}

.edit-button {
    color: var(--icon-buttons-color);
    font-weight: 400;
    font-size: 20px;
}

.delete-button {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
}

.edit-form-container {
    border: solid var(--icon-buttons-color);
    border-radius: 20px;
    padding: 15px 0px 15px 15px;
}

